name: Build Aseprite for Windows (Visual Studio + Ninja)

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Choose release type: stable or beta'
        required: true
        default: stable

jobs:
  build:
    runs-on: windows-latest
    env:
      RELEASE_TYPE: ${{ github.event.inputs.release-type }}
    steps:
      - name: Checkout Action Repo
        uses: actions/checkout@v3

      - name: Setup Visual Studio Build Tools
        uses: ilammy/msvc-dev-cmd@v1

      - name: Clone Aseprite
        shell: bash
        run: |
          git clone --recursive https://github.com/aseprite/aseprite.git aseprite
          cd aseprite
          if [ "${{ env.RELEASE_TYPE }}" = "beta" ]; then
            git checkout beta
          else
            git checkout main
          fi

      - name: Download Skia
        shell: bash
        run: |
          mkdir -p skia
          cd skia
          RELEASE_URL=$(curl -sL -o /dev/null -w "%{url_effective}" https://github.com/aseprite/skia/releases/latest)
          SKIA_VERSION=$(basename $RELEASE_URL)
          SKIA_URL="https://github.com/aseprite/skia/releases/download/$SKIA_VERSION/Skia-Windows-Release-x64.zip"
          echo "Downloading Skia from: $SKIA_URL"
          curl -L "$SKIA_URL" -o Skia-Windows-Release-x64.zip
          unzip Skia-Windows-Release-x64.zip
          rm Skia-Windows-Release-x64.zip
          echo "SKIA_DIR=$(pwd)" >> $GITHUB_ENV

      - name: Configure CMake
        shell: cmd
        run: |
          cd aseprite
          mkdir build_configure
          cd build_configure
          cmake -G Ninja ^
            -DCMAKE_BUILD_TYPE=RelWithDebInfo ^
            -DUSE_WINSOCK=1 ^
            -D_WIN32_WINNT=0x0A00 ^
            ../aseprite

      - name: Configure & Build
        shell: cmd
        run: |
          cd aseprite
          mkdir build
          cd build
          cmake -G Ninja ^
            -DCMAKE_BUILD_TYPE=RelWithDebInfo ^
            -DLAF_BACKEND=skia ^
            -DSKIA_DIR=%SKIA_DIR% ^
            -DSKIA_LIBRARY_DIR=%SKIA_DIR%/out/Release-x64 ^
            -DUSE_WINSOCK=1 ^
            -D_WIN32_WINNT=0x0A00 ^
            ../

          ninja aseprite

      - name: Archive Aseprite
        shell: cmd
        run: |
          cd aseprite\build
          zip -r aseprite-windows.zip aseprite.exe

      - name: Create draft release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v$(date +'%Y%m%d%H%M')
          name: "Aseprite ${{ env.RELEASE_TYPE }} release"
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload release asset
        uses: softprops/action-gh-release@v1
        with:
          files: aseprite/build/aseprite-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
