name: Build Aseprite (Windows x64)

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Select release type (stable or beta)'
        required: true
        default: 'stable'
        type: choice
        options:
          - stable
          - beta

permissions:
  contents: write

jobs:
  build_aseprite:
    runs-on: windows-2022

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          choco install ninja -y
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Download Aseprite and Skia
        run: python download.py ${{ github.event.inputs.release_type }}
        working-directory: ${{ github.workspace }}
      
     - name: List directories for debug
        run: dir src

      - name: Setup MSVC Environment
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64

      - name: Configure and Build
        shell: pwsh
        run: |
          $srcDir = Resolve-Path ../src/aseprite
          $skiaDir = Resolve-Path ../src/skia
          $skiaLibDir = Resolve-Path ../src/skia/out/Release-x64
          mkdir build
          cd build
          cmake "$srcDir" -G Ninja -DCMAKE_BUILD_TYPE=MinSizeRel -DLAF_BACKEND=skia -DSKIA_DIR="$skiaDir" -DSKIA_LIBRARY_DIR="$skiaLibDir" -DSKIA_LIBRARY="$skiaLibDir/skia.lib"
          ninja aseprite
          copy "C:/Windows/System32/libcrypto-1_1-x64.dll" ./bin

      - name: Get Aseprite Version
        id: get_version
        run: |
          $version = Get-Content version.txt
          echo "version=$version" >> $env:GITHUB_OUTPUT

      - name: Zip Aseprite Build
        run: |
          cd build/bin
          7z a ../../Aseprite-Windows-x64-${{ steps.get_version.outputs.version }}.zip *

      - name: Create GitHub Draft Release
        uses: softprops/action-gh-release@v2
        with:
          name: Aseprite-Windows-x64-${{ steps.get_version.outputs.version }}
          tag_name: ${{ steps.get_version.outputs.version }}
          files: |
            Aseprite-Windows-x64-${{ steps.get_version.outputs.version }}.zip
          draft: true
